.user-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}
.wrap{
    max-width: 700px;
    width: 100%;
    padding: 1em;
    background-color: hsl(41, 94%, 79%);
    border-radius: 10px;
}
.back{
    position: absolute;
    top: 2em;
    left: 2em;
}
.arrow{
    background-image: url("/assets/icons8-back-arrow.svg");
}
.text{
    display: none;
    background-color: gray;
    padding:.2em .5em;
}
.back:hover .text{
display: block;
}
.details-sec{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 1em;
}
.full-details{
display: grid;
grid-template-columns: repeat(2,1fr);
column-gap: 5em;
}
.flex{
     display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: .2em;
}
@media (min-width:60rem) {
    .back{
        top: 3em;
        left: 2em;
    }
    .wrap{
        display: flex;
        gap: 2em;
        align-items: center;
    }

}