.btn {
  border: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 100000;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  padding: 0;
  margin: 0;
}
.redirect{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.developer{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dev-block{
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
}
.social svg{
color: blue;
}
.social svg:hover{
  color: black;
}
.techbaddie{
  max-width: 400px;
  width: 100%;
  margin: auto;
  display: block;
}