*,
*::after,
*::before {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body,
.App,
#root {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  line-height: 23px;

}
.leaflet-container {
  width: 100%; 
  height: 300px;
}
.loading{
  text-align: center;
}
